@model TournamentFilterModel

<div class="jumbotron">
    <h1>Smash Explorer</h1>
    <p class="lead">Welcome to Smash Explorer! Select an event to get started.</p>
</div>

<div class="row">
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        @Html.HiddenFor(model => model.StartTrackingDate)
        @Html.HiddenFor(model => model.EndTrackingDate)
        @Html.HiddenFor(model => model.ErrorMessage)
        @Html.HiddenFor(model => model.ChosenEventId, new { id = "chosenEventId" })
        <div class="col-md-4">
            <div class="form-group">
                <label for="inputSlug">Tournament slug</label>
                @Html.TextBoxFor(model => model.Slug, new { @class = "form-control", placeholder = "Enter tournament slug" })
                <small class="form-text text-muted">E.g. genesis or genesis-8 for https://smash.gg/tournaments/genesis-8</small>
            </div>
            <div class="form-group">
                <label for="startAt">Starts after (UTC)</label>
                @Html.TextBoxFor(model => model.StartAtAfter, new { type = "date", @class = "form-control" })
            </div>
            <div class="form-group">
                <label for="startBefore">Starts before (UTC)</label>
                @Html.TextBoxFor(model => model.StartAtBefore, new { type = "date", @class = "form-control" })
                <small class="form-text text-muted">Currently tracking: @Model.StartTrackingDate to @Model.EndTrackingDate </small>
            </div>
            @if (Model.ErrorMessage != null)
            {
                <p style="color:red">@Model.ErrorMessage</p>

            }
            <button type="submit" onclick="updateChosenEventId(null)" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-md-8" style="overflow-y: scroll; height:350px">
            <table class="table table-hover">
                <tr>
                    <th>Event</th>
                    <th>Location</th>
                    <th>Start Time</th>
                    <th>Entrants</th>
                </tr>
                @foreach (Event returnedEvent in Model.Events)
                {
                    <tr>
                        <td>
                            <a href="https://www.smash.gg/@returnedEvent.Slug" target="_blank">@returnedEvent.TournamentName - @returnedEvent.Name</a>
                        </td>
                        @if (returnedEvent.TournamentLocation.City == null)
                        {
                            <td>
                                No location
                            </td>
                        }
                        else
                        {
                            <td>
                                @returnedEvent.TournamentLocation.City, @returnedEvent.TournamentLocation.AddrState, @returnedEvent.TournamentLocation.CountryCode
                            </td>
                        }
                        <td>
                            @DateTimeOffset.FromUnixTimeSeconds(returnedEvent.StartAt).ToString("g") UTC
                        </td>
                        <td>@returnedEvent.NumEntrants</td>
                        <td><button onclick="updateChosenEventId(@returnedEvent.Id)" type="submit" class="btn btn-primary">Select</button></td>
                    </tr>
                }
            </table>
        </div>
    }
</div>
<div class="row">
    <div class="col-md-8">
        <h2>Selected Tournament</h2>
        @if (Model.ChosenEventId != null)
        {
            <p>@Model.ChosenEventId</p>
        } else
        {
            <p>No Tournament Chosen</p>
        }
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Explore</h2>
        <p>
            Allows you to select entrants (next page) and then generate a link to follow your selected entrants through the rest of the tournament.
        </p>
        @if (string.IsNullOrEmpty(Model.ChosenEventId))
        {
            @Html.ActionLink("Only available after selecting an event", "Index", "Home", null, new { @class = "btn btn-default", disabled = true })
        }
        else
        {
            @Html.ActionLink("Explore Entrants", null, "SelectEntrants", new { id = Model.ChosenEventId }, new { @class = "btn btn-default", id = Model.ChosenEventId })

        }
    </div>
    <div class="col-md-4">
        <h2>Upset Thread</h2>
        <p>See what upsets happened so far at this tournament.</p>
        @if (string.IsNullOrEmpty(Model.ChosenEventId))
        {
            @Html.ActionLink("Only available after selecting an event", "Index", "Home", null, new { @class = "btn btn-default", disabled = true })
        }
        else
        {
            @Html.ActionLink("Check Upsets", null, "Upsets", new { id = Model.ChosenEventId }, new { @class = "btn btn-default", id = Model.ChosenEventId })

        }
    </div>
    <div class="col-md-4">
        <h2>Seed Visualizer</h2>
        <p>Check out how well the event was seeded. SPR = how many farther (in terms of rounds) someone went vs what they were seeded to get. Top 128 Only.</p>
        @if (string.IsNullOrEmpty(Model.ChosenEventId))
        {
            @Html.ActionLink("Only available after selecting an event", "Index", "Home", null, new { @class = "btn btn-default", disabled = true })
        }
        else
        {
            @Html.ActionLink("Seed Visualizer", null, "VisualizeSeeds", new { id = Model.ChosenEventId }, new { @class = "btn btn-default" })

        }
    </div>
</div>


<script>
    function updateChosenEventId(eventId) {
        document.getElementById("chosenEventId").value = eventId;
    }
</script>